<div class="position-relative">
  <input
    noCopyPaste
    [type]="inputType"
    class="input-custom w-full"
    [placeholder]="placeholder"
    [(ngModel)]="value"
    (ngModelChange)="value = $event; onChange($event)"
  />

  @if (inputType === 'text') {
  <button type="button" class="btn-icon password view" (click)="inputType = 'password'">
    <img src="assets/icons/password-view.svg" alt="View password" />
  </button>
  } @else {
  <button type="button" class="btn-icon password block" (click)="inputType = 'text'">
    <img src="assets/icons/password-block.svg" alt="Block password" />
  </button>
  } 

  @if (control && control.invalid && control.dirty && control.errors) {
    <span class="font-error font-validation pt-4 pl-1"> 
      @if (control.errors['required']) {Campo obrigatório!}
    </span>
  }

</div>
