@import "colors";

.input-custom {
  height: 36px;
  border-radius: 4px;
  border: 1px solid $neutral-disabled-1;
  outline: none;
  padding: 10px 8px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  transition: ease-in-out 0.2s;

  &:focus {
    border-color: $primary !important;
  }

  ::placeholder {
    color: $neutral-disabled-4;
  }

  &:disabled {
    background-color: $neutral-disabled-3;
  }
}

.pd-info {
  padding-right: 28px;
}

.font-error {
  position: absolute;
  top: 36px;
}

input[type="date"]::placeholder {
  color: #b3b3b3; /* Cor mais clara */
}

/* Para suporte ao Internet Explorer */
input[type="date"]:-ms-input-placeholder {
  color: #b3b3b3;
}